@font-face {
    font-family: 'segoe';
    src: url('https://www.bemy.lol/fonts/segoepr-webfont.woff2') format('woff2'),
         url('https://www.bemy.lol/fonts/segoepr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  background-color: #bf56ae;
}
h1 {
  color: white;
  font-family: 'segoe', sans-serif;
}
h1.big {
  font-size: 60px;
}
p {
  color: white;
  font-family: 'segoe', sans-serif;
}
p.big {
  color: white;
  font-family: 'segoe', sans-serif;
  font-size: 40px;
}
a:link {
  color: black
  font-family: 'segoe', sans-serif;
  text-decoration: none;
}
a {
  color: black
  font-family: 'segoe', sans-serif;
  text-
a:visited {
  color: black
  font-family: 'segoe', sans-serif;
}
a:hover {
  color: #2f72de
  font-family: 'segoe', sans-serif;
}
iframe {
  border-style: none;
}